In [1]:
import pandas as pd

In [6]:
mydata=pd.read_excel(r"D:/Workshop_AI_CODE/data/Population_Summary.xlsx")
mydata.head(1)

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.5,20.23,Brazil,5

In [3]:
#State_UT,Population,World_Rank
mydata[["State_UT","Population","World_Rank"]]

             State_UT  Population  World_Rank
0       Uttar Pradesh   199812341           5
1         Maharashtra   112374333          11
2               Bihar   104099452          12
3         West Bengal    91276115          14
4      Andhra Pradesh    84580777          15
5      Madhya Pradesh    72626809          18
6          Tamil Nadu    72147030          18
7           Rajasthan    68548437          19
8           Karnataka    61095297          23
9             Gujarat    60439692          23
10             Odisha    41974218          32
11             Kerala    33406061          39
12          Jharkhand    32988134          39
13              Assam    31205576          40
14             Punjab    27743338          46
15       Chhattisgarh    25545198          49
16            Haryana    25351462          49
17              Delhi    16787941          64
18    Jammu & Kashmir    12541302          73
19        Uttarakhand    10086292          89
20   Himachal Pradesh     6864602         105
21            Tripura     3673917         130
22          Meghalaya     2966889         139
23            Manipur     2855794         141
24           Nagaland     1978502         148
25                Goa     1458545         151
26  Arunachal Pradesh     1383727         152
27         Puducherry     1247953         156
28            Mizoram     1097206         158
29         Chandigarh     1055450         158
30             Sikkim      610577         166
31      A.& N.Islands      380581         177
32       D.& N.Haveli      343709         179
33        Daman & Diu      243247         184
34        Lakshadweep       64473         205

In [4]:
#Deleting Country column
mydata.drop("Country",axis=1)

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,12
3,4,West Bengal,91276115,68.13,31.87,7.54,13.84,14
4,5,Andhra Pradesh,84580777,66.64,33.36,6.99,10.98,15
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,205

In [5]:
mydata.drop(mydata.index[3])

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,Brazil,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,Mexico,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,Philippines,12
4,5,Andhra Pradesh,84580777,66.64,33.36,6.99,10.98,Egypt,15
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,Turkey,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,Turkey,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,Congo,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,Italy,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,Italy,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,Argentina,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,Morocco,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,Morocco,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,Afghanistan,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,Nepal,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,Korea,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,Korea,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205

In [7]:
mydata.drop(mydata.index[3:5])

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.50,20.23,Brazil,5
1,2,Maharashtra,112374333,54.78,45.22,9.28,15.99,Mexico,11
2,3,Bihar,104099452,88.71,11.29,8.60,25.42,Philippines,12
5,6,Madhya Pradesh,72626809,72.37,27.63,6.00,20.35,Turkey,18
6,7,Tamil Nadu,72147030,51.60,48.40,5.96,15.61,Turkey,18
7,8,Rajasthan,68548437,75.13,24.87,5.66,21.31,Congo,19
8,9,Karnataka,61095297,61.33,38.67,5.05,15.60,Italy,23
9,10,Gujarat,60439692,57.40,42.60,4.99,19.28,Italy,23
10,11,Odisha,41974218,83.31,16.69,3.47,14.05,Argentina,32
11,12,Kerala,33406061,52.30,47.70,2.76,4.91,Morocco,39
12,13,Jharkhand,32988134,75.95,24.05,2.72,22.42,Morocco,39
13,14,Assam,31205576,85.90,14.10,2.58,17.07,Afghanistan,40
14,15,Punjab,27743338,62.52,37.48,2.29,13.89,Nepal,46
15,16,Chhattisgarh,25545198,76.76,23.24,2.11,22.61,Korea,49
16,17,Haryana,25351462,65.12,34.88,2.09,19.90,Korea,49
17,NCT,Delhi,16787941,2.50,97.50,1.39,21.21,Netherlands,64
18,18,Jammu & Kashmir,12541302,72.62,27.38,1.04,23.64,Chad,73
19,19,Uttarakhand,10086292,69.77,30.23,0.83,18.81,Hungary,89
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105
21,21,Tripura,3673917,73.83,26.17,0.30,14.84,Oman,130
22,22,Meghalaya,2966889,79.93,20.07,0.25,27.95,Armenia,139
23,23,Manipur,2855794,70.79,29.21,0.24,24.50,Jamaica,141
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148
25,25,Goa,1458545,37.83,62.17,0.12,8.23,Gabon,151
26,26,Arunachal Pradesh,1383727,77.06,22.94,0.11,26.03,Trinidad and Tobago,152
27,UT1,Puducherry,1247953,31.67,68.33,0.10,28.08,Mauritius,156
28,27,Mizoram,1097206,47.89,52.11,0.09,23.48,Timor-Leste,158
29,UT2,Chandigarh,1055450,2.75,97.25,0.09,17.19,Timor-Leste,158
30,28,Sikkim,610577,74.85,25.15,0.05,12.89,Montenegro,166
31,UT3,A.& N.Islands,380581,62.30,37.70,0.03,6.86,Bahamas,177
32,UT4,D.& N.Haveli,343709,53.28,46.72,0.03,55.88,Belize,179
33,UT5,Daman & Diu,243247,24.83,75.17,0.02,53.76,Vanuatu,184
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.30,Bermuda,205

In [8]:
#Finding Max Rular %
mydata["Rulal"].max()

89.969999999999999

In [9]:
#Display the Row which Having Maximul Rular %
mydata[mydata.Rulal==mydata["Rulal"].max()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
20,20,Himachal Pradesh,6864602,89.97,10.03,0.57,12.94,Paraguay,105

In [10]:
#Minimum Growth State_Ut
mydata[mydata["Growth"]==mydata.Growth.min()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148