In [1]:
import pandas as pd

In [2]:
my_xydata=pd.read_excel(r"C:/Users/Shubh_Ram/Desktop/TOOL_AI/Tool_32bit/Ml_Data/Hours_Risk.xlsx")

In [3]:
my_xydata

   Driving_Hours  Risk Score
0             10          95
1              9          80
2              2          10
3             15          50
4             10          45
5             16          98
6             11          38
7             16          93

In [4]:
X_input=my_xydata["Driving_Hours"]

In [5]:
Y_output=my_xydata["Risk Score"]

In [6]:
#Reshape
XX_input=X_input.values.reshape(-1,1)
YY_output=Y_output.values.reshape(-1,1)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
myteacher=LinearRegression()

In [9]:
mylearner=myteacher.fit(XX_input,YY_output)

In [10]:
mylearner.coef_

array([[4.58789861]])

In [11]:
mylearner.intercept_

array([12.58462796])